{% extends "base.html" %}

{% block content %}
<section>
    <div class="jumbotron">
        <h1>ABOUT</h1>
        <div class="bio">
            <p>Hi, my name is <span class="highlight">Abhishek Rawat.</span>
                I want to be a fullstack developer.
            </p>
            <p>
                This project is dedicated to my Information Technology(BSc. IT VI-Semester)<br>
                College: <span class="highlight">UTTARANCHAL COLLEGE OF SCIENCE AND TECHNOLOGY.</span>
            </p>
            <div class="contact">
                <address>
                    <p><span>Email: </span>abhkrwt07@gmail.com</p>
                    <p><span>Location: </span> Dehradun, 248001.</p>
                    <p>Batch: 2018-2021.</p>
                </address>
            </div>
        </div>
    </div>
</section>
{% endblock content %}