{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Dairy|App</title>
</head>

<body>
    <nav>
        <div class="logo">
            <h1>DairyProducts.</h1>
        </div>
        <div class="right__links">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="{% url 'addproduct' %}">add product</a></li>
                <li><a href="{% url 'about' %}">about</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout_admin' %}">logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}

    {% endblock content %}
</body>

</html>