{% extends "base.html" %}
{% block content %}

<section>
    <table>
        <caption>products</caption>
        <tr>
            <th>id</th>
            <th>product name</th>
            <th>weight(gm)</th>
            <th>price</th>
            <th></th>
        </tr>
        {% for product in products %}
        <tr>

            <td>{{product.id}}</td>
            <td>{{product.product_name}}</td>
            <td>{{product.product_weight}}</td>
            <td>{{product.product_price}} rs.</td>
            <td class="table__btns"><a class="delete__btn" href="{% url 'delete' product.id %}">Delete</a>
                <a class="edit__btn" href="{% url 'editProduct' product.id %}">Edit</a>
            </td>

        </tr>
        {% endfor %}
    </table>
    </br>
    </br>
</section>

{% endblock content %}